@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* PALETA DE CORES */
:root{
  --dark-100: #63686c;
  --dark-200: #363638;
  --dark-300: #28282a;
  --dark-400: #212123;
  --dark-500: #191919;
  --dark-600: #111;
  --purple-primary: #8a4af3;
  --purple-secundary: #6335ae;
}

body{
  height: 100%;
  background-color: var(--dark-400);
  scroll-behavior: smooth;
}
*::-webkit-scrollbar{
  width: 10px;
}
*::-webkit-scrollbar-track{
  background-color: transparent;
}
*::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: var(--dark-200);
}

@tailwind base;
@tailwind components;
@tailwind utilities;